:root {
    // colors
    --color-white: #fff;
    --color-light-grey: #f3f3f3;
    --primary-color: #518581;
    --duration: 0.3s;
    --color-gray-100: #1c1c1f;
    --color-gray-200: #2a2a2e;
    --color-gray-300: #3d3d43;
    --radius: 6px;

    @media (min-width: 1200px) {
        --header-height: 114px
    }

    @media (max-width: 1199px) {
        --header-height: 97px
    }

    @media (max-width: 1024px) {
        --header-height: 75px;
    }
}