:root {
    // colors
    --color-white: #fff;
    --color-light-grey: #f3f3f3;
    --primary-color: #518581;
    --duration: 0.3s;

    @media (min-width: 1200px) {
        --header-height: 114px
    }

    @media (max-width: 1199px) {
        --header-height: 97px
    }

    @media (max-width: 1024px) {
        --header-height: 75px;
    }
}