.main {
    height: var(--header-height);
    width: 100%;
    border-bottom: 1px solid;
    border-bottom-color: var(--color-light-grey);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: height var(--duration);
    height: 100%;
}